@import "colors";

.container{
 background-color: #ffff; 
 height: 50vh;
//  display: inline-block;
align-items: center;
}


.main{
    display: flex;

}

.tableDiv{
    padding: 30vh;
    width: 130vh;
    justify-content: center;
    
}
.table{
    border: 1px solid $_green;
    width: 110vh;
    margin-left:2% ;
}


.tableBackgroundColor{
background-color: $_green;
height: 15vh;
}
.btn{
    width: 15vh;
}
.bor{
border: 1px solid $_green;
width:10vh ;
height: 8vh;
}


.greenback{
background-color: $_green;
height: 80vh;
display: block;

}

.whitesectionBack{
background-color: $_white;
width: 80%;
height: 45vh;
border-radius: 5px;
margin-top: 2vh;
margin-left: 9.5%;
display: flex;
}

.innerSecDivs{
padding: 10vh; 
}

.blurback{
}

.blur{
    
}

.bold{
margin-left: 15vh;
padding: 20px;
margin-top: 0;
}
.volumes{
display: flex;
padding: 10vh;
justify-content: space-between;
margin-top: 10vh;
}
.size{
    height: 10vh;
    width: 20vh;
}

.center{
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.im{
margin-top:0;
background-image : url(/images/OIP.jpeg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 750px;
display: block;
}
.div{
    width: 100%;
}
.height{
   height: 50rem; 
}
.footer{
    height: 200px;
    padding: 20vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
}

.h1{
    font-size: larger;
}
.darkFooter{
    background-color: $_black;
    font-size: large;
    height: 100px;
}
.icon{
    justify-content: space-between;
    width: 150px;
    display: flex;
    margin-right: 50px;
    margin-top: 1vh;
}


