@import "colors";

.container{
 background-color: $_white; 
 height: 500vh;
}

/* Rectangle 5 */

.main{
    display: flex;

}

.tableDiv{
    padding: 20vh;
    height: 100vh;
    width: 140vh;
    margin-right: 5vh;
}
.table{
    margin-top: 10vh;
    margin-left: 15%;
    border: 1px solid $_green;
    width: 70vh;
    height: 30vh;

}

.tableBackgroundColor{
background-color: $_green;
}
.btn{
    width: 15vh;
}
.bor{
  border: 1px solid $_green;
}


.greenback{
background-color: $_green;
height: 90vh;

}

.whitesectionBack{
background-color: $_white;
width: 80%;
height: 45vh;
border-radius: 5px;
margin-top: 2vh;
margin-left: 9.5%;
display: flex;
}

.innerSecDivs{
padding: 10vh; 
}

.blurback{

}

.blur{

}
.bold{
margin-left: 15vh;
padding: 2vh;
}
.volumes{
display: flex;
padding: 10vh;
justify-content: space-between;
}
.size{
    height: 10vh;
    width: 20vh;
}