$_black:#000;
$_blue: #5735D2;
$_text_black:#0F0F0F;
$_text_grey:#8B8888;
$_success:#D4EDDA;
$_success_text:#155724;
$_error:#F8D7DA;
$_error_text:#8B3E45;
$_white:#fff;
$_border_grey:#D9D9D9;
$_grey_background:#F9F9F9;
$_input_background:#ECECEC;