.contact{
  .addressSection{
    .imageCover{
      padding: 40px;
    }
    .addressDetails{
      h3{
        font-weight: 600;

      }
      padding: 40px;

      @media (max-width: 967px) {
        padding: 0;
      }
    }
    img{
      width: 100%;
      max-width: unset;
    }

    p{
      display: flex;
      margin-bottom: 40px;
      img{
        margin-right: 15px;
        width: 25px;
        height: 25px;
      }
    }
  }

  .map{

  }
}
