@import "colors";
footer{
  .top{
    padding: 80px 0;
    text-align: center;
    a{
      padding: 10px 20px;
      display: inline-block;
      margin: 0 20px;
    }
  }
  .bottom{
    padding: 40px 50px;
      background: $_black;

    @media (max-width: 967px) {
      padding: 10px !important;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: center;
    }
    .copyright{
      line-height: 24px;
      font-size: 16px;
      margin: 0 !important;
      @media (max-width: 967px) {
        font-size: 14px;
        text-align: center;
      }
    }

    .icons{
      svg{
        color: $_white;
        margin-left: 20px;
      }
    }
  }


}
