@import "colors";
.boxes{
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 3rem;
  display: inline-block;
  input{
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 20px !important;
    font-weight: 500;
    text-align: center;
    margin: 0;
  }
}

.bookInspection{
  background: $_white;
  height: calc(100vh - 20px);
  width: 500px;
  padding:20px 80px;
  border-radius: 5px;
  padding-bottom: 80px;
  position: relative;
  overflow: auto;

  @media (max-width: 967px) {
    min-width: unset;
    width: 90%;
    padding: 20px;
  }
  .closeIcon{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
}


.passwordcode{
   height: 50vh;
   margin-top: 50px;
   column-gap: 2rem;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
  padding: 40px;

  }

  .resetButton{
    max-width: 350px;
    margin: 30px auto;

  }

  .topText{
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
  }

  .checkMark{

  }

  .reviewMessage{
    max-width: 320px;
  }

.btn{

}

.btn-radius{

}



.btn-large{

}
.formGroup{
    margin-bottom: 40px;
}


