@import "colors";
.header{
  // display: flex;
  align-items: center;
  min-height: 80px;

  .menu-spacing{
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
    color: $_black;
  }
  .logoContainer{
      .logo{

      }
  }
  .nav{
    flex-grow: 1;
    margin-right: 0;
    .menu{
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      .menuItems{
      display: inline-block;
        a{
          display: inline-block;
          @extend .menu-spacing
        }
      }
    }
  }

  .sideItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    li{
      a{
        @extend .menu-spacing;
        list-style-type: none;
      }
    }
    img{
      margin-left: 25px;
      margin-right: 5px;
    }

  }
}
