@import "colors";
$_perc: '%';

*{
  box-sizing: border-box;
}
body{
  margin-left: 0;
  margin-right: 0;
}

.form-field{
  label{
    margin-bottom: 10px;
    display: block;
  }
  .text-input{
    display:block;
    background:#EBEBEB;
    outline: unset;
  }

  input{
    padding: 15px;
    font-size: 14px;
    color: #8A8787;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
  }
}



.icon{
  width: 25px;
}
$flex_positions : [start,center, end];
@each $flex in $flex_positions {
   $_flex : if($flex == center,center,flex-#{$flex});
  .flex-#{$flex} {
    justify-content: #{$_flex};
  }
}

@for $i from 1 through 12{
  $_width: ($i/12) * 100;
  .col-sm-#{$i}{
    width: #{$_width}#{$_perc};
  }
}

@media (min-width: 967px) {
  @for $i from 1 through 12{
    $_width: ($i/12) * 100;
    .col-md-#{$i}{
      width: #{$_width}#{$_perc};
    }
  }
}

.flex{
  display: flex;
}



.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-large{
padding: 15px 20px;
  font-size: 15px;
  min-width: 110px;
}

.btn-black{
  background: $_black;
  color: #fff;
  border:2px solid $_black;
}

.btn-blue{
  background: $_blue;
  border: 2px solid $_blue;
  color: #ffffff;
}

.btn-outline{
  background: #fff;
}

.btn-outline.btn-black{
  color:$_black;
}

.btn-outline.btn-blue{
  color:$_blue;
}
.btn-border-radius{
  border-radius: 5px;
}