@import "colors";

.icon{
  width: 25px;
}
$flex_positions : [start,center, end];
@each $flex in $flex_positions {
   $_flex : if($flex == center,center,flex-#{$flex});
  .flex-#{$flex} {
    justify-content: #{$_flex};
  }
}



.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-large{
padding: 15px 20px;
  font-size: 15px;
  min-width: 110px;
}

.btn-black{
  background: $_black;
  color: #fff;
}

.btn-blue{
  background: $_blue;
  border: 2px solid;
  color: $_blue;
}

.btn-outline{
  background: #fff;
}
.btn-border-radius{
  border-radius: 5px;
}