@import "colors";
.productBox{
  margin-bottom: 10px;
  padding: 20px;
  .productImage{
    position: relative;

    &::after {
      content: "";
      padding-bottom: 100%;
      display: block;
    }
      img{
        width:100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        height: 100%;
      }

      :global(.deal-badge) {
        position: absolute;
        top:0;
      }

      :global(.time-badge) {
        position: absolute;
        bottom:0;
        width: 100%;
      }
    margin-bottom: 15px;
  }

  .productInfo{
     .productName{
       text-transform: capitalize;
       color: $_text_grey;
       font-size: 16px;
       font-weight: 400;
     }

    .productPrice{
      color:$_text_black;
      font-weight: 500;
    }
  }
}
